<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> CONTACT INFO </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src="static/js/myFunction.js"</script>
    <script type="text/javascript" src="static/js/previewFile.js"</script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap">
</head>
<body>

<div class="topnav" id="myTopnav">
  <a href="{{ url_for('home') }}" class="home-button">Home</a>
  <a href="/" class="home-button">To The Grader</a>
  <a href="{{ url_for('contact') }}" class="home-button">Contact</a>
  <div class="dropdown"
    <button class="dropbtn">Extras
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="https://luckys.cards">The Card Shop</a>
      <a href="https://everythings4.sale">The Shopping Mall</a>
      <a href="#">Football Picks</a> <!-- Add URL here -->
    </div>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<div style="align-center">
	<h2> CONTACT </h2>

		<ul> 
			<li style="font-size:43px">email   - info@luckys.cards</li>
			<li style="font-size:43px">phone  - 833.000.0000 </li>
			<li style="font-size:43px">twitter - @--------- </li>
		<ul>

<a href="/" class="home-button">To The Grader</a>


</body>
</html>
